mixin c-overview-tile(data)
	a.c-overview-tile(class=data.custom_class ? data.custom_class : null , href="#")
		if data.img
			+picture(data.img)
		span.c-overview-tile__date!=data.date
		h3.c-overview-tile__title!=data.title
		p.c-overview-tile__desc!=data.desc