//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components


include ../components/head/head
include ../components/header/header
include ../components/footer/footer
include ../components/c-forms/c-forms
include ../components/c-counter/c-counter
include ../components/c-modal-login/c-modal-login
include ../components/c-modal-basket/c-modal-basket

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			+header()
			main
				block content
			+footer()
			block modals 
				+c-modal-login()
				+c-modal-basket()
			
		script(src=route.js + "main.js")