mixin c-main-categories(data)
	.c-main-categories
		.container 
			.c-main-categories__inner 
				ul#myTab.nav.c-main-categories__tabs-nav(role='tablist')
					li.nav-item(role='presentation')
						button#newCategories-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#newCategories' type='button' role='tab' aria-controls='newCategories' aria-selected='true') Новые категории
					li.nav-item.del /
					li.nav-item(role='presentation')
						button#popularCategories-tab.nav-link(data-bs-toggle='tab' data-bs-target='#popularCategories' type='button' role='tab' aria-controls='popularCategories' aria-selected='false') Популярные категории
				#myTabContent.tab-content.c-main-categories__tabs-content
					#newCategories.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='newCategories-tab')
						.row
							each item in data.newCategories
								.col-xl-4.col-lg-5.col-sm-10
									+c-category-tile(item.categoryTile)
					#popularCategories.tab-pane.fade(role='tabpanel' aria-labelledby='popularCategories-tab')
						.row
							each item in data.popularCategories
								.col-xl-4.col-lg-5.col-sm-10
									+c-category-tile(item.categoryTile)