mixin c-city-select(data)
	.c-city-select
		button(type='button').c-city-select__toggle Москва
		.c-city-select__wrapper 
			.c-city-select__header
			.c-city-select__main-cityes
			.c-city-select__all-cityes
			.c-city-select__empty
			.c-city-select__footer