extends _includes/_extends/main

include _includes/components/c-forms/c-forms

include _includes/components/c-decor-order/c-decor-order


//- block head 
//- 	+head({'title' : 'Главная'})


block content 
  +c-decor-order()