mixin c-products-list(data)
  .c-products-list
    .container
      .c-products-list__wrap
        h2.c-products-list__title Смартфоны и гаджеты
        .c-products-list__box
          .c-products-list__menu 
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Смартфоны
              li.c-products-list__item 
                a.c-products-list__link Премиум смартфоны
              li.c-products-list__item 
                a.c-products-list__link Apple IPhone
              li.c-products-list__item 
                a.c-products-list__link Смартфоны Samsung
              li.c-products-list__item 
                a.c-products-list__link Смартфоны Xiaomi
              li.c-products-list__item 
                a.c-products-list__link Недорогие смартфоны
              ul(id="shows_b").c-products-list__hidden.hidden
                li.c-products-list__item 
                  a.c-products__link Зарядные устройства       
                li.c-products-list__item 
                  a.c-products__link Усилители для наушников       
                li.c-products-list__item 
                  a.c-products__link Аксессуары для наушников       
                li.c-products-list__item 
                  a.c-catalog__link Аксессуары для наушников    
                li.c-products-list__item 
              button(id="shows" type="button").c-products-list__button Показать еще 3
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Сотовые телефоны
              li.c-products-list__item 
                a.c-products-list__link Дешевые мобильные телефоны
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Планшеты
              li.c-products-list__item 
                a.c-products-list__link Детские планшеты
              li.c-products-list__item 
                a.c-products-list__link Недорогие планшеты
              li.c-products-list__item 
                a.c-products-list__link Игровые планшеты
              li.c-products-list__item 
                a.c-products-list__link Планшеты Digma
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Гаджеты
              li.c-products-list__item 
                a.c-products-list__link Гироскутеры
              li.c-products-list__item 
                a.c-products-list__link Экшн камеры
              li.c-products-list__item 
                a.c-products-list__link Умные колонки
              li.c-products-list__item 
                a.c-products-list__link Квадрокоптеры
              li.c-products-list__item 
                a.c-products-list__link Аксессуары для квадрокоптеров
              ul(id="shows_b").c-products-list__hidden.hidden
                li.c-products-list__item 
                  a.c-products__link Зарядные устройства       
                li.c-products-list__item 
                  a.c-products__link Усилители для наушников       
                li.c-products-list__item 
                  a.c-products__link Аксессуары для наушников       
                li.c-products-list__item 
                  a.c-catalog__link Аксессуары для наушников    
                li.c-products-list__item 
              button(id="shows" type="button").c-products-list__button Показать еще 4  
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Аксессуары для планшетов
              li.c-products-list__item 
                a.c-products-list__link Кабели для смартфонов и планшетов
              li.c-products-list__item 
                a.c-products-list__link Чехлы для планшетов
              li.c-products-list__item 
                a.c-products-list__link Защитные пленки для планшетов
              li.c-products-list__item 
                a.c-products-list__link Док-станции для планшетов
              li.c-products-list__item 
                a.c-products-list__link Держатели, подставки
              ul(id="shows_b").c-products-list__hidden.hidden
                li.c-products-list__item 
                  a.c-products__link Зарядные устройства       
              button(id="shows" type="button").c-products-list__button Показать еще 1    
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Аксессуары для смартфонов
              li.c-products-list__item 
                a.c-products-list__link Внешние аккумуляторы (Power Bank)
              li.c-products-list__item 
                a.c-products-list__link Стедикамы
              li.c-products-list__item 
                a.c-products-list__link Карты памяти
              li.c-products-list__item 
                a.c-products-list__link Защитные пленки и стекла
              li.c-products-list__item 
                a.c-products-list__link Чехлы для мартфонов
              ul(id="shows_b").c-products-list__hidden.hidden
                li.c-products-list__item 
                  a.c-products__link Зарядные устройства       
              button(id="shows" type="button").c-products-list__button Показать еще 12    
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Электронные книги а аксессуары
              li.c-products-list__item 
                a.c-products-list__link Электронные книги
              li.c-products-list__item 
                a.c-products-list__link Аксессуары для электронных книг
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Bluetooth гарнитуры
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Наушники
              li.c-products-list__item 
                a.c-products-list__link Мониторные наушники
              li.c-products-list__item 
                a.c-products-list__link Наушники True Wireless
              li.c-products-list__item 
                a.c-products-list__link Беспроводные наушники
              li.c-products-list__item 
                a.c-products-list__link Наушники вкладыши
              li.c-products-list__item 
                a.c-products-list__link Проводные наушники
              ul(id="shows_b").c-products-list__hidden.hidden
                li.c-products-list__item 
                  a.c-products__link Зарядные устройства       
              button(id="shows" type="button").c-products-list__button Показать еще 12    
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Кабели для смартфонов и планшетов  
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Power bank  
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Зарядные устройства 
              li.c-products-list__item 
                a.c-products-list__link Зарядные устройства для телефонов   
              li.c-products-list__item 
                a.c-products-list__link Автомобильные зарядные устройства   
              li.c-products-list__item 
                a.c-products-list__link Беспроводные зарядные устройства   
              li.c-products-list__item 
                a.c-products-list__link Зарядные устройства для планшетов
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Усилители для наушников       
            ul.c-products-list__block
              li.c-products-list__name 
                a.c-products-list__link Аксессуары для наушников       
          .c-products-list__content
            +c-products-banner()
            +c-products-categories({
              newCategories: [
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Смартфоны',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/1.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Автоаккумуляторы',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/2.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Сотовые телефоны',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Планшеты',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/4.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Гаджеты',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/5.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Аксесвуары для планшетов',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Аксессуары для смартфонов',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Электронные книги и аксессуары',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/4.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Наушники',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/5.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Power bank',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
              ],
              popularCategories: [
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Зарядные устройства',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/4.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Уселители для наушников',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/5.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Аксессуары для наушников',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Наборы инструментов',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Электрика',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/4.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Автоаккумуляторы',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/5.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Наборы инструментов',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Электрика',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/1.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Автоаккумуляторы',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/2.png'
                    }
                  }
                },
                {
                  categoryTile: {
                    custom_class: 'false',
                    name: 'Наборы инструментов',
                    picture: {
                      custom_class: 'h-object-fit c-category-tile__img',
                      img:'categories/3.png'
                    }
                  }
                },
              ],
            })
            +c-main-list-content({
              topHead: true,
              custom_class: 'head-line',
              title: 'Специально для вас',
              link: 'Все хиты',
              slider: true,
              sliderBtns: true,
              slider_class: 'classic',
              items: [
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    label: 'Акция',
                    labelClass: 'orange',
                    title: 'Видеокарта PALIT NVIDIA  GeForce GTX 1660SUPER ,  PA-GTX1660SUPER GP OC 6G',
                    price: '63900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    label: 'Новинка',
                    labelClass: 'green',
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    statusAdded: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
              ]
            })
            +c-main-list-content({
              topHead: true,
              custom_class: 'head-line',
              title: 'Специально для вас',
              link: 'Все хиты',
              slider: true,
              sliderBtns: true,
              slider_class: 'classic',
              items: [
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    label: 'Акция',
                    labelClass: 'orange',
                    title: 'Видеокарта PALIT NVIDIA  GeForce GTX 1660SUPER ,  PA-GTX1660SUPER GP OC 6G',
                    price: '63900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    label: 'Новинка',
                    labelClass: 'green',
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    statusAdded: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
              ]
            })
            +c-main-list-content({
              topHead: true,
              custom_class: 'head-line',
              title: 'Специально для вас',
              link: 'Все хиты',
              slider: true,
              sliderBtns: true,
              slider_class: 'classic',
              items: [
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    label: 'Акция',
                    labelClass: 'orange',
                    title: 'Видеокарта PALIT NVIDIA  GeForce GTX 1660SUPER ,  PA-GTX1660SUPER GP OC 6G',
                    price: '63900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    label: 'Новинка',
                    labelClass: 'green',
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    statusAdded: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
              ]
            })
            +c-main-list-content({
              topHead: true,
              custom_class: 'head-line',
              title: 'Специально для вас',
              link: 'Все хиты',
              slider: true,
              sliderBtns: true,
              slider_class: 'classic',
              items: [
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    label: 'Акция',
                    labelClass: 'orange',
                    title: 'Видеокарта PALIT NVIDIA  GeForce GTX 1660SUPER ,  PA-GTX1660SUPER GP OC 6G',
                    price: '63900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    label: 'Новинка',
                    labelClass: 'green',
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    statusAdded: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
              ]
            })
            +c-main-list-content({
              topHead: true,
              custom_class: 'head-line',
              title: 'Специально для вас',
              link: 'Все хиты',
              slider: true,
              sliderBtns: true,
              slider_class: 'classic',
              items: [
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    label: 'Акция',
                    labelClass: 'orange',
                    title: 'Видеокарта PALIT NVIDIA  GeForce GTX 1660SUPER ,  PA-GTX1660SUPER GP OC 6G',
                    price: '63900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    label: 'Новинка',
                    labelClass: 'green',
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    statusAdded: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
              ]
            })
            +c-main-list-content({
              topHead: true,
              custom_class: 'head-line',
              title: 'Специально для вас',
              link: 'Все хиты',
              slider: true,
              sliderBtns: true,
              slider_class: 'classic',
              items: [
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    label: 'Акция',
                    labelClass: 'orange',
                    title: 'Видеокарта PALIT NVIDIA  GeForce GTX 1660SUPER ,  PA-GTX1660SUPER GP OC 6G',
                    price: '63900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    label: 'Новинка',
                    labelClass: 'green',
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    statusAdded: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
              ]
            })
            +c-main-list-content({
              topHead: true,
              custom_class: 'head-line',
              title: 'Специально для вас',
              link: 'Все хиты',
              slider: true,
              sliderBtns: true,
              slider_class: 'classic',
              items: [
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    label: 'Акция',
                    labelClass: 'orange',
                    title: 'Видеокарта PALIT NVIDIA  GeForce GTX 1660SUPER ,  PA-GTX1660SUPER GP OC 6G',
                    price: '63900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    label: 'Новинка',
                    labelClass: 'green',
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    statusAdded: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/2.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
                {
                  product: {
                    img: {
                      custom_class: 'h-object-fit c-product-tile__img',
                      img:'products/1.jpg'
                    },
                    title: 'Смартфон XIAOMI Poco X3 128Gb,  серый',
                    oldPrice: '17 250',
                    price: '3900',
                    currency: '₽',
                    addBtn: true
                  }
                },
              ]
            })
