mixin c-counter(data)
	.c-counter
		button(type="button").c-counter__btn
			+svg('icon-minus')
		input(type="text" value='1').c-counter__input
		button(type="button").c-counter__btn
			+svg('icon-plus')